@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme { 
    --font-display: "Urbanist", sans-serif;
}

@layer base{
    html {
        font-family: var(--font-display);
    }
    body{
        background-color: black;
        overflow-x: hidden;
    }
}